[Unit]
Description=BMS-SMA Gateway

[Service]
WorkingDirectory=/home/owen/bms-gateway/
ExecStart=/home/owen/bms-gateway/venv/bin/python /home/owen/bms-gateway/gateway --serve-in-foreground
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

