[Unit]
Description=BMS-SMA Gateway

[Service]
WorkingDirectory=/home/owen/dev/bms-gateway/
ExecStart=/home/owen/dev/bms-gateway/venv/bin/python /home/owen/dev/bms-gateway/gateway --serve-in-foreground
